:root {
  --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-body: "IBM Plex Sans", var(--font-fallback);
  --font-mono: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;

  --color-white: #fff;
  --color-black: #000014;

  --color-accent: #0d72b1;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-blue: #3894ff;
  --color-blue-rgb: 56, 148, 255;
  --color-green: #17c083;
  --color-green-rgb: 23, 192, 131;
  --color-orange: #ff5d01;
  --color-orange-rgb: 255, 93, 1;
  --color-purple: #882de7;
  --color-purple-rgb: 136, 45, 231;
  --color-red: #ff1639;
  --color-red-rgb: 255, 22, 57;
  --color-yellow: #ffbe2d;
  --color-yellow-rgb: 255, 190, 45;
}

:root {
  color-scheme: light;
  --theme-accent: var(--color-accent);
  --theme-accent-rgb: var(--color-orange-rgb);
  --theme-accent-opacity: 0.1;
  --theme-divider: var(--color-gray-100);
  --theme-text: var(--color-gray-800);
  --theme-text-light: var(--color-gray-600);
  --theme-text-lighter: var(--color-gray-400);
  --theme-bg: var(--color-white);
  --theme-bg-offset: var(--color-gray-100);
  --theme-bg-accent: rgba(var(--theme-accent-rgb), var(--theme-accent-opacity));
  --theme-code-inline-bg: var(--color-gray-100);
  --theme-code-text: var(--color-gray-100);
  --theme-code-bg: var(--color-gray-700);
}

body {
  background: var(--theme-bg);
  color: var(--theme-text);
}

:root.theme-dark {
  color-scheme: dark;
  --theme-accent-opacity: 0.3;
  --theme-divider: var(--color-gray-900);
  --theme-text: var(--color-gray-200);
  --theme-text-light: var(--color-gray-400);
  --theme-text-lighter: var(--color-gray-600);
  --theme-bg: var(--color-black);
  --theme-bg-offset: var(--color-gray-900);
  --theme-code-inline-bg: var(--color-gray-800);
  --theme-code-text: var(--color-gray-200);
  --theme-code-bg: var(--color-gray-900);
}

::selection {
  color: var(--theme-accent);
  background-color: rgba(var(--theme-accent-rgb), var(--theme-accent-opacity));
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.625;
}

.wrapper {
  margin-inline: auto;
  max-width: 65em;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

/* Typography */
:is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 3rem;
}

p {
  color: var(--theme-text-light);
}


a {
  color: var(--theme-accent);
  font-weight: 400;
  text-underline-offset: 0.08em;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 0.25em;
}

strong {
  font-weight: 600;
  color: inherit;
}
